<%-include("index")%>
<div class="card_sucess">
	<h4>Tus datos han sido enviado correctamente</h4>
	<p>
		Su Nombre y correo han sido enviado a nuestra base de datos con lo cual su suscripcion se a finalizado correctamente.
	</p>
</div>

</html>
