<div class="main_var">
    <i class="fas fa-bars fa-2x icono"></i>
   </div>
   <!--Navigation-->
   <nav class="navbar">
    <ul class="nav-main"> 			
         <li><a href="/" class="btn_link">Inicio</a></li>
         <li><a href="/curiosity" class="btn_link">Curiosidades</a></li>
         <li><a href="/contact" class="btn_link">Mas informacion</a></li>
         <li class="nav-main__price_cripto"><a href="/price" id="cripto_price"></a></li>				
    </ul>
   </nav>
   
   <!--Template price cripto-->
   <template id="cripto_price_template">
           <span class="cripto_price_content">
           <img src="/img" class="icon_cripto">
           <h4 class="card_price_cripto">Price</h4>
           </span>
           
   </template>