 <!--1era Pregunta-->
 <h2 class="title">¡Importante!</h2>  
 <div class="questions_content">
   <p>
     Este sitio web es solo de entretenimiento y practica. No esta patrocinado y ni trata de convencerlo de invertir en cripto. Si usted desea invertir lo hace bajo su riesgo.
   </p>
   </div>
   <!--2da Pregunta-->       
  <h2 class="title">¿Que son las criptomonedas?</h2>
   <div class="questions_content">
   <p>
   Antes de invertir en ellas hay que saber que son. Porque no vamos a minar o invertir en algo que no sabemos que es. Es un activo digital que emplea un cifrado criptográfico para garantizar su titularidad y asegurar la integridad de las transacciones, y controlar la creación de unidades adicionales.
  </p>
 </div>

 <!--3ra Pregunta-->
 <h2 class="title">¿Cuales son las mas populares?</h2>
   <div class="questions_content">
     <ul>
       <li>Bitcoin</li>
       <li>Ethereum</li>
       <li>Tether</li>
       <li>Binance Coin</li>
     </ul>
   </div>          

   <!--4ta Pregunta-->
   <h2 class="title">¿Es segura?</h2>
   <div class="questions_content">
     <p>
       La respuesta es que si ya que estan bien ya que la tecnología Blockchain es confiable. No puede ser falsificada manipulada ni cambiada.
     </p>
   </div>          
   
   <!--5ta Pregunta-->
   <h2 class="title">¿De que trata este sitio web.?</h2>  
   <div class="questions_content">
     <p>
     Este sitio web es un leading page que trata de darte la mejor informacion sobre las criptomonedas. Por eso pedimos que dejes tu correo para poder enviarte mas informacion y gratis.</p> 
   </div>        
   <!--6ta Pregunta-->
   <h2 class="title">¿Que criptomoneda tiene mas futuro.?</h2>  
   <div class="questions_content">
    <p>
    La cripto que no podemos dejar señalar como de alta rentabilidad es Bitcoin (BTC). A pesar de su volatilidad, esta moneda digital muestra una tendencia alcista y en el año 2021 alcanzó record histórico, lo que la posicionó entre los usuarios como una de las favoritas para el hold y el trading.</p>
   </div>        

   <!--7ta Pregunta-->
   <h2 class="title">¿Que criptomoneda invertir en 2022?</h2>  
   <div class="questions_content">
   <p>
    Ethereum este cambio, unido a una mayor velocidad y eficacia de su blockchain, hará que Ethereum aumente considerablemente su valor, hasta posiblemente convertirse en la mayor criptomoneda del mercado, y hace con que sea una de las mejores criptomonedas para invertir en 2022.</p>
   </div>        
