<section class="recomendaciones">
    <a target="__BLANK" href="https://portafolio-cristian.herokuapp.com/" class="recomendaciones_link">
        <img src="/img/recomendaciones.svg">
          <h4><b>Portafolio</b></h4>
        <p>
         Este sitio web podras ver mis proyectos mas recientes y forma de contactarme. 
        </p>
      </a>
      <a target="__BLANK" href="https://cristianz2021.github.io/website-2.0/" class="recomendaciones_link">
       <img src="/img/project2.jpg">
         <h4><b>La contaminacion</b></h4>
       <p>
         Aqui en este si web podras observar un mini guia sobre la contaminacion y como combatirla. 
        </p>
      </a>
      <a target="__BLANK" href="https://cristianz2021.github.io/Cards/" class="recomendaciones_link">
        <img src="/img/project1.jpg">
          <h4><b>Tarjetas de presentacion</b></h4>
        <p>
             Aqui podras ver unas mini tarjetas de mis herramientas de trabajo.
        </p>
      </a>
</section>